ul{
  list-style: none;
}


.nav-panel {
  height: 100vh;
  width: 21vw;
  top: 0;
  position: absolute;
}

.panel-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}
.panel-links li{
padding: 10px 0;
font-size: 15px;
text-align: center;
width: 100%;
}
.panel-links li:hover {
  background-color: #97bf19;
  color: white;

}

.header__logo {
  
  margin: 0 auto;
  width: 40%;
}

.header__logo a {
  display: inline-block;
}

.header__logo img {
  width: 100%;
}

.social-links{
  display: flex;
  justify-content: space-around;
  padding: 2% 0;
  bottom: 0;
  width: 100%;
  position: absolute;

}

span i{
  font-size: 17px;
}
span i:hover{
  color:#97bf19;
  cursor: pointer;
  
}
