ul {
  list-style: none;
}

.nav-panel {
  height: 100vh;
  width: 21vw;
  background-color: #fff;
  top: 0;
  z-index: 23;
  position: fixed;
  border-right: solid 2px #f1f1f1;
}

.nav-toggle{
  color: black;
}

.nav-panel a {
  text-decoration: none;
  color: inherit;
}

.active {
  background-color: #97bf19;
}

.panel-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}

.panel-links li {
  padding: 10px 0;
  font-size: 15px;
  text-align: center;
  width: 88%;
}

.panel-links li:hover {
  background-color: #97bf19;
  color: white;
}

.header__logo {
  margin: 0 auto;
  width: 40%;
}

.header__logo a {
  display: inline-block;
}

.header__logo img {
  width: 100%;
}

.social-links {
  display: flex;
  justify-content: space-around;
  padding: 2% 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.mobile-menu {
  display: none;
}

.mobile-toggle {
  display: none;
}

span i {
  font-size: 17px;
}

span i:hover {
  color: #97bf19;
  cursor: pointer;
}

/* Mobile screen humberger menu */

@media only screen and (max-width: 600px) {
  .mobile-toggle {
    display: block;
    position: fixed;
    right: 0;
  }

  @keyframes toggleNavpanel {
    from {
      left: -296px;
    }

    to {
      left: -296px;
    }
  }

  /* The element to apply the animation to */
  .hidden {
    width: 88vw;
    left: -296px;
    animation-name: toggleNavpanel;
    animation-duration: 4s;
  }

  .nav-panel {
    width: 88vw;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.header h2 {
  font-weight: 600;
}

.header p {
  color: #3a3a3a;
  font-style: italic;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  height: auto;
  margin: 0 auto;
  gap: 15px;
}

.flights {
  margin: 1rem auto 0 auto;
  height: 300px;
  text-align: center;
}

.img-container {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 10px auto;
}

.img-container img {
  max-width: 200px;
  min-height: 120px;
  width: 100%;
  border-radius: 10px;
  margin: auto;
}

.contents {
  color: #ababab;
  align-items: center;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contents h3,
h4 {
  color: #3a3a3a;
}

.link {
  text-decoration: none;
}

.icon {
  width: 3rem;
  font-size: 2.5rem;
  color: #97bf19;
  background: none;
}

.slider-control-centerleft button,
.slider-control-centerright button {
  background: none !important;
}

/* -------------------------------------------------------------------------------------------------------------------
sign up page---------------------------------------------------------------------------
*/
.form-section {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-image: url(./airplanes.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
}

.overlay {
  width: 100%;
  position: fixed;
  height: 100vh;
  background-color: rgba(151, 191, 25, 0.7);
}

.form-signin {
  width: 100%;
  max-width: 60%;
  padding: 15px;
  margin: 10% auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-control {
  border-radius: 20px;
}

.sign-up {
  background-color: #97bf19;
  border-radius: 20px;
  color: white;
  border: solid;
}

.log-in {
  background-color: #fff;
  border-radius: 20px;
}

.button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-intro {
  border-bottom: solid;
  width: 80%;
  margin: auto;
}

.form-signin input[type='email'] {
  margin-bottom: -1px;
}

.form-signin input[type='password'] {
  margin-bottom: 10px;
}

/* --------------------------------------------------------
Details
----------------------------------------------------------
*/

.book-btn {
  background-color: #97bf19;
  color: #f1f1f1;
}

.details-container {
  width: 100%;
  min-height: 60vh;
  border: solid 1px whitesmoke;
  border-radius: 23px;
  box-shadow: 5px 12px 20px 2px rgba(0, 0, 0, 0.2);
}

.details-container .contents {
  min-height: 46vh;
  display: flex;
  flex-direction: column;
}

.details-container img {
  height: auto;
  width: 100%;
}

.details-container .contents > div {
  width: 80%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
}

/* ------------------------------------------------------------------------------------------------------------------------------
Airline styles

-------------------------------------------------------------- */

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-airline {
  position: absolute;
  display: flex;
  margin: 6% auto;
  flex-direction: column;
  align-items: center;
  right: 10%;
  max-width: 69%;
}

.details-reservation-container {
  display: grid;
  grid-template-columns: auto;
  margin: auto 2%;
  gap: 2%;
  position: relative;
  width: 70vw;
}

.reserve-item {
  /* text-align: start;
  display: flex;
  justify-content: space-between;
  width: 100%; */
}

.reserve-item:nth-child(even) {
  background-color: #f8f9fa;
}

.cancelled-flights {
  min-height: 23vh;
}
